VAR_1=a
VAR_2=b
VAR_3_SECRET=the quick brown fox jumps over the lazy dog

# this is a comment
# and random line breaks

VAR_4=1 # this is a comment after non-encrypted variables
VAR_5_SECRET=supercalifragilisticexpialidocious # this is a comment after encrypted variables
