__CONFIG_ENCRYPTION_KEY__=MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtDvH7GvZouR5p+KTiWjiFXN24O7OeEqtVB3KeLU5UIz4eOQma2EGEnho0dIgI+gpDSsFv/S4Kt/lSe54utujfAVF2UbyZ3k+OKfG9TG6hPckvQHNMSLbBL8YxDW4MIlFo6rGmirkzYoiJtVo3Gw3CQEcrhx9McOmRJHQd4Bpb9echl9p0AUgoavp0QYqzaJQVhVCjlg3FIYwVvr8sdChnlW4ISjv4po2wcKo3cI5FvrcVngDEHjZqdasVv0eOPYe068BT0BL2MSEeR54Z/Vl4llJkKWQsYfJPt11FQ+/DFZAoRkUAiT7r+bdHt6Ba2bav94doyritOil84Jylm5blQIDAQAB

VAR_1=a
VAR_2=b
VAR_3_SECRET=$$[ATlpk+muGicbL9Tinbr9p1u/Be8vSF6WN3bWRHzWz/eF/DiRu0e48hZca1BaUGCcWI3cgF7hcu/wDjsePEyyruNjJYBf+fm8NvrhyUJwQ/YGKzR5jGZ+xeMzu5iJ30U/MGpqAOiQntZgK979OLeF81HyNm7rncqo7SsPp+hwrgIpKOdMpPDaFb1uIF44tJZ1TYgFSeIeN47KE1ZLvvLhsxpQKN8g6JSPqA7awAe6ZMoHCL5ZjzvUHhV7VAVQM2Sf1RRvlQpRoOJWwTiDNE8N2psd4apNs1aaYRIYPdATDRkszzYDvrCzYs2wr/Zx1K/wg9lrO/a+meLEEFO9Hzc+O448kakApDS5AHS78dPiQQfjdnX1ShmuuVvAavBtU7O3SXPlXVrABlvI+uakRE3mxxsrtbNCttGrJlDIkJoVY/Mi]

# this is a comment
# and random line breaks

VAR_4=1 # this is a comment after non-encrypted variables
VAR_5_SECRET=$$[AQJLlkLEOjifkSWRHozwOK78xJfym11/utjD7NZwbYXOUTMMXHg+Fa34wt/ytB4LRB2kiD6qXSYTQQLPYRmxN+1/VcvWCATWPUXJEN+pl8MiaO5boOGMYqcTT9JVUQ+dyEZelJkR+fuhzAeoANKyicPFwYa7DiLRwUlLxca/7lnEiROzrh1YNtvWPM0+J3yjjh/zbwbRUWCVFRcP/jmToE5EGifGYhpSjzY004LDWNfF8fKiotZiISMXq8vbDBBpmYugmkHy6Q+DXMIoVsRhg/jY1LSO8ycNaE8eAjgS05tjnXo35Nx9Wr+QSKAU99+M0yK3zfq7nSnIfVQ7IRQXNV4N2Dte02ZX+AkPwNg/mPeWXD+Acnxzu2KDi4R9nmb1Qnk6VJ+BlejbtO+KhGexkDF9a2pvZyN+LDQM3c1OfL/WpqdIZkSsg7fhDWHYnTGUlr1tOxPndptc6im65Kq05/0ynB/e04HMopDz1EmkSXVV]

BLANK_VAR=
